/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 3200px) { 
  
    .p-menu {
    margin-top: 20px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 

 .p-menu {
    margin-top: 20px;
}
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
 .product-single {
    text-align: center;
    padding-bottom: 40px;
}
.p-menu {
    margin-top: 0px;
}
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}